*,
::after,
::before {
  box-sizing: border-box;
  font-family: Inter;
  padding: 0;
  margin: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul,
ol {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
}

html,
body {
  min-height: 100vh;
  background: #f8f7f5;
}

body {
  display: flex;
  flex-direction: column;
}

.topbar {
  position: sticky;
  top: 0;
  z-index: 1;
  background: #f8f7f5;
}

.menu {
  padding-block: 8px;
  border-bottom: 1px solid #d4d1c5;
}

.menu-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
}

.menu-list__item {
  color: initial;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.main {
  max-width: 1200px;
  margin-inline: auto;
  padding-block: 40px;
  flex-grow: 1;

  @media screen and (max-width: 1232px) {
    padding-inline: 16px;
  }
}

.main--thin {
  width: 100%;

  @media screen and (min-width: 632px) {
    width: auto;
    min-width: 600px;
  }
}

.media-object {
  @media screen and (min-width: 920px) {
    display: flex;
    gap: 64px;

    .media-object__object--mobile {
      display: none;
    }
  }

  @media screen and (max-width: 919px) {
    .media-object__object--mobile {
      margin-top: 24px;
    }

    .media-object__object--desktop {
      display: none;
    }
  }

  .media-object__object {
    flex-shrink: 0;
    object-fit: cover;
    object-position: top;
    border-radius: 20px;
  }

  .media-object__content {
    p:not(:last-child) {
      font: 400 16px/20px Inter;
      margin-bottom: 16px;
    }
  }
}

.title {
  font: 600 28px/40px Inter;
  margin-bottom: 32px;

  @media screen and (max-width: 919px) {
    margin-bottom: 24px;
  }
}

.title--small {
  font: 600 24px/32px Inter;
}

.section {
  &:not(:last-child) {
    margin-bottom: 40px;
  }
}

.list {
  li {
    &::before {
      content: "·";
      font-size: 16px;
      vertical-align: top;
      line-height: 20px;
    }

    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }
}

.footer {
  padding-block: 12px;
  background: #1a1914;
  text-align: center;
}

.form {
  display: flex;
  gap: 12px;
}

.form--mobile {
  @media screen and (min-width: 920px) {
    display: none;
  }
}

.form--desktop {
  @media screen and (max-width: 919px) {
    display: none;
  }
}

.form__input {
  max-width: 400px;
  flex-grow: 1;
  background: #f1f0ec;
  border-radius: 8px;
  border: 1px solid #d4d1c5;
  padding: 10px 12px;

  &::-webkit-input-placeholder {
    color: #787567;
  }
}

.form__button {
  color: #fff;
  font-weight: 600;
  padding: 10px 12px;
  background: #393830;
  border-radius: 8px;
  border: none;

  cursor: pointer;
}

.tab-menu {
  max-width: 100%;
  overflow: scroll;
  margin-top: 40px;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.tab-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.tab {
  display: flex;
  align-items: center;
  gap: 8px;

  &:not(.tab--active) {
    filter: opacity(0.5);
  }
}

.circle {
  display: inline-flex;
  align-items: center;

  font: 12px/16px Inter;
  padding: 4px 12px;
  background: #787567;

  border-radius: 24px;
  color: #ffffff;
}

.kill-list {
  flex-grow: 1;
}

.kill-list__item {
  border-radius: 12px;
  overflow: hidden;
  &:not(:last-child) {
    margin-bottom: 16px;
  }
}

.kill-list__input {
  display: flex;
  justify-content: space-between;

  background: #ffffff;
  padding: 14px 20px;

  &:has(input:checked) {
    color: #c5c1b2;
  }
}
